.h1, h1 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.holder{ 
    background-color: #3276c9;
    color: #fff;
    padding: 2rem;
    border-radius: 100px;

    a{
        color:#fff;
    }

    button{
        background-color: $brand-red;
        border: none;
        border-radius: 20px;
        padding: 10px 30px;
        font-size: 17px;
        font-weight: bold;
        color: #fff;
    }

}

.nav-item img {
    max-width: 20px;

}

input.form-control {
    padding: 10px;
    height: 30px !important;
    margin: 5px 0;
    font-size: 13px;
}

.nav-tabs .nav-link.active {
    background-color: $brand-primary-light;;
    border-color: $brand-primary-light;
    border-radius: 10px 10px 0 0;
}

.tab-content>.active {
    background-color: $brand-primary-light;

    padding: 15px 10px;
    border-radius: 10px;}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    margin-bottom: -7px;
}

.tab-pane p{
    margin-bottom: 0px;
    font-size: 13px;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
    border:none;
}

.spacer-text-left {
    padding-top: 2rem;
    text-align: center;
}

.spacer-text-right {
    padding-top: 2rem;
    text-align: left;
}
