// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


h1, h2, h3, h4, h5, h6, p, a, li {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

//Brand
$brand-primary:#3276C9;
$brand-primary-light:#5098E8;
$brand-red: #CA2C3D;
$brand-pink-dark:#FF0458;

// Typography
$font-stack: 'Open Sans', sans-serif;
$font-family-sans-serif: $font-stack;
$line-height-base: 1.6;
$line-height-base-lg: 2;
$text-dark:#979797;
$text-light:#fff;

$base-font-size: 13px;
$font-xs: 0.8rem;
$font-sm: 1rem;
$font-md: 2rem;
$font-lg: 3rem;

// Icons
$fa-font-path: '../fonts';
//Settings

//Spacers
$spacer-n:0;
$spacer-xxs:5px;
$spacer-xs:1rem;
$spacer-md:2rem;
$spacer-lg:5rem;
$spacer-xl:10rem;

//Widths
$q-width:25%;
$h-width:50%;
$f-width:100%;

//Misc
@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
  }
  