section {
    padding: $spacer-md 0;
}



  figcaption {
    color: #fff !important;
    max-width: 400px;
    display: block;
    float: left;
    position: absolute;
    bottom: 15px;
    right: 0;
    padding-right: 25px;
    font-weight: bold;
  }
  
  figure {
    position: relative;
    float: left;
  }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  .spacer-text-right {
    padding-top: 2rem;
    text-align: center;
  }
}
 

  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1199px)  { 

  .img-h-c {
    min-height: 151px;
  }

}

  @media only screen 
and (min-device-width : 1200px) 
and (max-device-width : 1920px)  { 

  .img-h-c {
    min-height: 185px;
  }

}